
* 
{
	box-sizing: border-box;
}
.box
{
	width: 400px;
	height: 200px;
	
	padding: 20px;
	border: 10px solid red;
}


.box-border
{
	width: 400px;
	height: 200px;
	
	padding: 20px;
	border: 10px solid blue;
	
	box-sizing: border-box;
}

.col
{
	width: 25%;
	float: left;
	
	border: 3px solid green;
}

@media (max-width: 768px)
{
	.col 
		{
		width: 50%;
		}
}

@media all and (max-width: 480px)
{
	.col 
		{
		width: 100%;
		}
}

@media print
{
	.col
	{
		border:3px soloi red;
		width: 25%
	}	
}